#main{
	opacity: 0;
}

#main.loaded{
	transition-duration: 800ms;
}

#weather{
	font-size: 36px;
}

#weather div{
	display: block;
	margin: 12px;
}

#weather div *{
	display: inline-block;
}

i.material-icons{
	font-size: 48px!important;
	top: 8px;
	position: relative;
}