#main{
	opacity: 0;
}

#main.loaded{
	transition-duration: 800ms;
}
#mainWEl *{
	color: black!important;
}

#mainWEl{
	font-size: 24px;
	background: #f9f9f9;
	padding: 16px;
	width: 60%;
	box-shadow:rgba(0, 0, 0, 0.67) 14px 12px 30px;
}

#mainWEl div{
	display: block;
	margin: 12px;
}

#mainWEl div *{
	display: inline-block;
}

i.material-icons:not(#b_icon){
	font-size: 32px!important;
	top: 8px;
	position: relative;
}