@import url(https://fonts.googleapis.com/css?family=Roboto|Material+Icons);

body {
	margin: 0;
	overflow-x: hidden;
	background: rgb(85, 143, 174);
	text-align:center;
}

* {
	font-family: Roboto, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	color: white;
	transition-timing-function: ease-out;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.title {
	font-size: 46px;
	margin: 0 0 24px 0;
	padding-top: 18px;
	padding-bottom: 18px;
	background: rgba(0, 0, 0, .2);
}

.header {
	margin-top: 32px;
	font-size: 32px;
	margin-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
	color: white;
	font-weight: normal;
}

.subText{
	font-size: 16px;
	margin: 0;
}

.mainText{
	padding: 0 24px;
	font-size: 18px;
}

.fab{
	background: white;
	border-radius: 50%;
	padding: 10px 8px 6px 10px;
	cursor: pointer;

}

.fab-rb{
	position: fixed;
	right: 18px;
	bottom: 18px;
}

.fab i{
	font-size: 32px;
	color: #558fae;
}

.footer{
	text-align: center;
	margin-top: 16px;
	margin-bottom: 0px;
	font-size: 14px;
	padding-top: 18px;
	padding-bottom: 18px;
	background: rgba(0, 0, 0, .2);
}

#main{
	position: relative;
	left: 0px;
	transition-duration: 800ms;
}

li{
	text-align: left!important;
}



#overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	z-index: 100;
	background: rgba(0, 0, 0, .4);
}

#pagePopup * {
	color: white;
}

#pagePopup, #overlay {
	display: none;
}

#pagePopup {
	background: #eee;
	width: 80%;
	max-width: 400px;
	height: 316px;
	position: fixed;
	top: calc(50% - 150px);
	left: auto;
	z-index: 101;
	left: calc(50% - 200px);
}

#miscellaneousContainer p {
	margin: 0;
}

#miscellaneousContainer {
	width: 70%;
	max-width: 350px;
	color: white;
	text-align: left;
	display: inline-block;
	font-size: 18px;
}

.checkBox {
	border: 2.5px solid rgba(0, 0, 0, .5);
	border-radius: 2px;
	width: 12px;
	height: 12px;
	float: right;
	position: relative;
	top: -18px;
	cursor: pointer;
}

.checkBox.enabled i {
	opacity: 1;
}

.checkBox i {
	transition-duration: 400ms;
	font-size: 28px;
	top: -12px;
	left: -4px;
	font-weight: bold;
	position: relative;
	opacity: 0;
	color: white;
}

.checkBox.unSelectable {
	border-color: #888 !important;
	cursor: default !important;
}

.checkBox.unSelectable i {
	color: #888 !important
}


.labelContainer.focus,
.labelContainer.focus>.label {
	cursor: default !important;
}

.label.error {
	color: #B00020 !important;
}

#saveP {
	color: white !important;
}

input, textarea {
	outline: none !important;
	background: rgba(0, 0, 0, .15);
	color: white;
	border: none;
	width: 280px;
	color: rgba(255, 255, 255, .83);
	padding: 8px 12px;
	transition-duration: 400ms;
}

input.focus, textarea.focus {
	background: rgba(0, 0, 0, .26);
}

.label,
.iField {
	display: table-cell;
}

.labelContainer,
.label {
	cursor: text;
}

.labelContainer {
	padding-left: 8px;
	padding-right: 6px;
	text-align: left;
	font-size: 16px;
	top: -26px;
	position: relative;
	transition-duration: 400ms;
}

.labelContainer.focus {
	top: -56px;
}

.label {
	left: 0px;
	position: relative;
	color: rgba(255, 255, 255, .7);
	transition-duration: 400ms;
}

.label.focus {
	color: rgba(255, 255, 255, .95);
}



.button {
	margin: 16px 0 16px 0;
	display: inline-block;
	left: 8px;
	box-shadow: rgba(44, 41, 86, 0.65) 0px 0px 0px;
	top: 3px;
	padding: 8px;
	background: rgba(0, 0, 0, .3);
	font-size: 18px;
	width: 210px;
	position: relative;
	transition-duration: 350ms;
	border-radius: 2px;
	text-transform: uppercase;
	text-align: center;
	color: white;
}

.button:hover {
	box-shadow: rgba(0, 0, 0, 0.35) 2px 3px 4px;
}

.button,
.button * {
	cursor: pointer;
}



#nLocE {
	opacity: 0;
	position: absolute;
	transition-duration: 400ms;
	color: yellow;
}

#nLocE.shown{
	opacity: 1;
}

#pageTitle{
	font-size: 32px;
	margin-bottom: 40px;
}

#toastText {
	font-size: 18px;
	bottom: 16px;
	width: 250px;
	left: calc(50% - 125px);
	position: fixed;
	text-align: center;
	line-height: 60px;
	height: 60px;
	opacity: 0;
	transition-duration: 400ms;
	color: white;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

#toastText.eighty, #toast.eighty.shown{
	width: 80%!important;
	left: 10%!important;
}

#toastText.XL, #toast.XL.shown {
	width: 400px!important;
	left: calc(50% - 205px)!important;
}

#toastText.shown {
	opacity: 1;
}

#toast {
	opacity: 0;
	position: fixed;
	background: #333;
	left: 50%;
	bottom: -40px;
	transition-duration: 400ms;
	width: 0px;
	height: 0px;
	border-radius: 500px;
}

#toast.shown {
	width: 250px!important;
	border-radius: 4px;
	left: calc(50% - 125px)!important;
}

#toast.showing {
	left: calc(50% - 30px);
	bottom: 16px;
	opacity: 1;
	height: 60px;
	width: 60px;
}