ul {
	text-align: left;
	margin: 0px;
	list-style-type: none;
	font-size: 18px;
	width: 80%;
	max-width: 600px;
	line-height: 50px;
	color: white;
}

h2 {
	margin-bottom: 32px !important;
}


* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

p.websiteItem {
	width: 500px !important;
	max-width: 80%;
	text-overflow: ellipsis;
	display: inline-block;
	overflow: hidden;
	margin: 0;
	white-space: nowrap;
	line-height: 1.2em;
	top: 4px;
	position: relative;
}

h3 {
	font-size: 22px;
}

@media only screen and (min-width: 900px) {
	#optionsColumns {
		column-count: 2;
	}
}

#column_1 h2:first-child {
	margin-top: 0;
}


#links {
	margin-top: 24px;
	margin-bottom: 30px;
	background: rgba(0, 0, 0, .2);
	padding: 10px 36px;
	text-align: left;
	width: fit-content;
}

#optionsColumns {
	max-width: 950px;
}

.footer {
	font-size: 24px !important;
	left: 0%;
	transition-duration: 700ms;
	position:relative;
}

#back{
	z-index: 24;
}

#back{
	bottom: 7px!important;
}

#links h3{
	font-size: 20px;
}