@import url(https://fonts.googleapis.com/css?family=Roboto|Material+Icons);

body, html {
	margin: 0;
	padding: 0;
	color: black;
	text-align: center;
}

body {
	background: #79ccf9;
	overflow: hidden;
}

* {
	color: white;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
	font-family: Roboto, Arial, Helvetica, sans-serif;
}

*.loaded{
	opacity: 1!important;
}

#main {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	transition-duration: 400ms;
}

#logo {
	font-size: 8.3rem;
	margin-top: 70px;
	margin-bottom: 46px;
	font-weight: normal;
	opacity: 0;
	transition-duration: 300ms;
}